* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri;
}

.btn-openModal {
  background: #2C2C2C;
  color: #EEEEEE;
  font-size: 1rem;
  margin: 2rem;
  padding: 0.5rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-wrapper {
  background: #FFFFFF;
  width: 80%;
  height: max-content;
  margin: auto;
}

.modal-header {
  background: #FFFFFF;
  color: #2C343F;
  font-size: 40px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  padding: 1.5rem 1rem;
}

.modal-body {
  margin: 1rem;
}

.modal-footer button {
  display: block;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: none;
  color: #909493;
  border: none;
  outline: none;
  cursor: pointer;
}

.back-drop {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}